@import url('https://fonts.googleapis.com/css2?family=Arvo&family=EB+Garamond&family=Libre+Baskerville&family=Raleway:wght@500&display=swap');
/*EB Garamond*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=EB+Garamond&family=Exo+2&family=Libre+Baskerville&family=Raleway:wght@500&display=swap');
/*Exo 2*/
:root {
  --primary-color: #2DC7FF;
  --secondary-color: #00ABE7;
  --accent1-color: #0081AF;
  --accent2-color: #EABA6B;
  
  --heading-font: 'EB Garamond', serif;
  --paragraph-font: 'Exo 2', serif;

  --nav-background-color: #2DC7FF;
  --nav-link-color: #0081AF;
  --nav-hover-link-color: #EABA6B;
  --nav-hover-background-color: #0081AF;
}
body {
    font: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-decoration: none;
}
h1 {
    text-align: absolute;
}
article{
    position: absolute;
}
header{
    padding:20px;
    background-color: var(--accent1-color)
}
p{
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    text-decoration: none;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    text-decoration: none;
}

nav a:link, nav a:visited {
color: var(--nav-link-color);
}
Nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
.hero img {
    display:block;
    width: 100%;
    height: auto;
}

